.statList {
    display: flex;
    /* column-gap: 0px; */
    width: 100%;

    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statList li {
    text-align: center;
    display: flex;
    flex-direction: column;

    padding: 12px 4px;
    flex-basis: calc(100% / 5);
}

.label {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.percentage {
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    margin-top: 4px;
    padding: 4px 8px;
    border-radius: 4px; 
}